<style>
  @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

    .sidebar {
    background-color: #ffffff;
    width: 25%;
    
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar ul li {
    padding: 20px;
    cursor: pointer;
    color: #666666;
    font-weight: 600;
    background: #ffffff;
    border: 1px solid whitesmoke;
}

.sidebar ul li:hover {
    background-color: rgb(222, 222, 222);
}

.content {
    width: 70%;
}

.content ul {
    list-style-type: none;
}

.content ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .content {
        width: 100%;
    }
}
</style>
        
        <!-- ========== END HEADER ========== -->        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main" class="cart-page">
            <!-- breadcrumb -->
            <div class="bg-gray-13 bg-md-transparent">
                <div class="container">
                    <!-- breadcrumb -->
                    <div class="my-md-3">
                        <nav aria-label="breadcrumb">
                            
                        </nav>
                    </div>
                    <!-- End breadcrumb -->
                </div>
            </div>
            <!-- End breadcrumb -->

            <div class="container">
            <div class="row">
                <div class="sidebar">
                    <ul>
                      
                        <li id="favori-urundiv" style="background-color: #fed40076;"><i class="fa fa-shopping-cart mr-2"></i> Favori Ürünler</li>
                        <li id="favori-dukkandiv"><i class="fa fa-store mr-2"></i> Favori Dükkanlar</li>
                        <li id="favori-meslekdiv"><i class="fa fa-user mr-2"></i> Favori Meslekler</li>
                    </ul>
                </div>
                <div class="content" style="margin-top: 30px;">
                  <div class=" text-gray-20" style="float: right; ">
                    <span style="text-align: center; justify-content: center;  font-size: 12px; color: gray; margin-right: 5px;">Favori ürün sayısı: <span style="font-weight: bold;"><%- wishListElementCount %></span> </span>
                  </div>

                  
                    <ul id="favori-listesi">
                          <div class="row" style="margin-top: 10px;">
                          <div>
                            
                          <h6 style="font-weight: bold;">Favori Ürün Listem</h6>
                          </div>
                          
                            
                        
                          </div>
                            <ul class="row list-unstyled products-group no-gutters">
                                <div class="container">
                                      <div class="row" style="background: rgb(248, 245, 245); margin-top: 20px; border: 1px solid whitesmoke;">
                                        <div class="col-md-8">
                                          <div style="text-align: center; padding: 5px; ">
                                            <div style="color: #666666; font-size: 12px; font-weight: bold;  padding: 5px;">İlan Başlığı</div>
                                            
                                          </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        <div class="col-md-2">
                                          <div style="text-align: center; padding: 5px;">
                                            <div style="color: #666666; font-size: 12px; font-weight: bold; padding: 5px;">Fiyat</div>
                                            
                                          </div>
                                
                                        </div>
                                        <div class="col-md-2">
                                          <div style="text-align: center; padding: 5px;">
                                            <div style="color: #666666; font-size: 12px; font-weight: bold; padding: 5px;"></div>
                                            
                                          </div>
                                
                                        </div>
                                
                                      </div>
                                      
    <div id="urunlertable">
      
       <% wishlist.forEach(Product => { %>
        <div class="row" style="background: rgb(248, 245, 245); margin-top: 0px; border-top: 1px solid rgb(207, 207, 207); border-bottom: 1px solid rgb(207, 207, 207) ;">
          <div class="col-md-2">
            <div style=" text-align: center;">
              <div style="padding: 10px;"><img src='/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[0] %>' alt="" width="80"></div>
              
            </div>
          </div>
          <div class="col-md-6">
            <div style="  text-align:start; padding: 10px;">
              <div style="color: #038; font-size: 14px; font-weight: bold; padding: 10px;"><a href="/urunler/<%-Product.product_url %>" style="color: #038;"><%-Product.product_name %></a> </div>
              <div style="color: #666666; font-size: 12px; font-weight: bold;  padding: 5px;"><%-Product.product_category %> <i class="fa fa-play ml-1 mr-1" style="font-size: 8px; color: #ccc;"></i>  <%-Product.product_category2 %> <i class="fa fa-play ml-1 mr-1" style="font-size: 8px; color: #ccc;"></i> <%-Product.product_category3 %> </div>
            </div>
          </div>
          
            <div class="col-md-2">
              <div style="  text-align: center; padding: 10px;">
                <% if (Product.Product_MinimumPrice) { %>
                <div style="color: #038; font-size: 14px; font-weight: bold; padding: 10px;"><%-Product.Product_MinimumPrice.value %> ₺</div>
                <% } else { %>
                  <div style="color: #038; font-size: 14px; font-weight: bold; padding: 10px;">Satan Yok</div>
                   
                  <% } %>
              </div>
            </div>
          
          
         
          <div class="col-md-2">
            <div style="  text-align: center; padding: 10px;">
              <div style="color: #F0F1F6; font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 0px;">
                <div class="dropdown">
                  <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/isteklistesiremove/<%- Product.product_url %>" style="color: red;">Favorilerimden Çıkar</a>
                  </div>
                </div>
              
              </div>

              
            </div>
  
          </div>
  
        </div>  
       <% }) %>
      
        
      
      </div>
      <div style=" margin-top: 20px; ">
        <div class="row" id="paginationContainer" style="background: none;  text-align: center; justify-content: center; padding-top: 10px; padding-bottom: 10px;">
          <button class="btn btn-secondary mr-2" id="geriDugmesi">Geri</button>
          <span class="btn btn-secondary mr-2" id="sayfaNumarasi" style="color: white; font-weight: bold; background-color: #395FA9;"></span>
          <button class="btn btn-secondary mr-2" id="ileriDugmesi">İleri</button>
      </div>                        

                                     
                                
                                  
                            </ul>
                    </ul>
                    <ul id="favori-listesi-2" style="display: none;">

                      <div class="row" style="margin-top: 10px;">
                        <div>
                          
                        <h6 style="font-weight: bold;">Favori Dükkan Listem</h6>
                        </div>
                        
                          
                      
                        </div>
                          <ul class="row list-unstyled products-group no-gutters">
                              <div class="container">
                                    <div class="row" style="background: rgb(248, 245, 245); margin-top: 20px; border: 1px solid whitesmoke;">
                                      <div class="col-md-8">
                                        <div style="text-align: center; padding: 5px; ">
                                          <div style="color: #666666; font-size: 12px; font-weight: bold;  padding: 5px;">Dükkan Başlığı</div>
                                          
                                        </div>
                                      </div>
                                      
                                      
                                      
                                      
                                      <div class="col-md-2">
                                        <div style="text-align: center; padding: 5px;">
                                          <div style="color: #666666; font-size: 12px; font-weight: bold; padding: 5px;"></div>
                                          
                                        </div>
                              
                                      </div>
                                      <div class="col-md-2">
                                        <div style="text-align: center; padding: 5px;">
                                          <div style="color: #666666; font-size: 12px; font-weight: bold; padding: 5px;"></div>
                                          
                                        </div>
                              
                                      </div>
                                      
                              
                                    </div>
                                    
  <div id="dukkanlartable" style="">
    
     <% myacc[0].wishlist_Shop.forEach(Product => { %>
      <div class="row" style="background: rgb(248, 245, 245); margin-top: 0px; border-top: 1px solid rgb(207, 207, 207); border-bottom: 1px solid rgb(207, 207, 207) ;">
        <div class="col-md-2">
          <div style=" text-align: center;">
            <div style="padding: 10px;"><img src='/uploads/images/<%- Product.dukkanphoto %>' alt="" width="80"></div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div style="  text-align:start; padding: 10px;">
            <div style="color: #038; font-size: 14px; font-weight: bold; padding: 10px;"><a href="/dukkanlar/<%-Product.dukkanurl %>" style="color: #038;"><%-Product.dukkanadi %></a> </div>
            
          </div>
        </div>
        <div class="col-md-2">
          <div style="  text-align: center; padding: 10px;">
            
            
          </div>
        </div>
       
        <div class="col-md-2">
          <div style="  text-align: center; padding: 10px;">
            <div style="color: #F0F1F6; font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 0px;">
              <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/isteklistesiekleDukkanRemove/<%- Product.dukkanurl %>" style="color: red;">Favorilerimden Çıkar</a>
                </div>
              </div>
            
            </div>

            
          </div>

        </div>

      </div>  
     <% }) %>
    
      
    
    </div>
    <div style=" margin-top: 20px; ">
      
    </div>       




                    </ul>
                  </ul>
                  <ul id="favori-listesi-3" style="display: none;">

                    <div class="row" style="margin-top: 10px;">
                      <div>
                        
                      <h6 style="font-weight: bold;">Favori Meslek Listem</h6>
                      </div>
                      
                        
                    
                      </div>
                        <ul class="row list-unstyled products-group no-gutters">
                            <div class="container">
                                  <div class="row" style="background: rgb(248, 245, 245); margin-top: 20px; border: 1px solid whitesmoke;">
                                    <div class="col-md-8">
                                      <div style="text-align: center; padding: 5px; ">
                                        <div style="color: #666666; font-size: 12px; font-weight: bold;  padding: 5px;">Meslek Başlığı</div>
                                        
                                      </div>
                                    </div>
                                    
                                    
                                    
                                    
                                    <div class="col-md-2">
                                      <div style="text-align: center; padding: 5px;">
                                        <div style="color: #666666; font-size: 12px; font-weight: bold; padding: 5px;"></div>
                                        
                                      </div>
                            
                                    </div>
                                    <div class="col-md-2">
                                      <div style="text-align: center; padding: 5px;">
                                        <div style="color: #666666; font-size: 12px; font-weight: bold; padding: 5px;"></div>
                                        
                                      </div>
                            
                                    </div>
                                    
                            
                                  </div>
                                  
<div id="mesleklertable" style="">
  <% myacc[0].wishlist_Meslek.forEach(Product => { %>
    <div class="row" style="background: rgb(248, 245, 245); margin-top: 0px; border-top: 1px solid rgb(207, 207, 207); border-bottom: 1px solid rgb(207, 207, 207) ;">
      <div class="col-md-2">
        <div style=" text-align: center;">
          <div style="padding: 10px;"><img src='/uploads/images/<%- Product.Meslek_Photos[0] %>' alt="" width="80"></div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div style="  text-align:start; padding: 10px;">
          <div style="color: #038; font-size: 14px; font-weight: bold; padding: 10px;"><a href="/meslekPage?id=<%- Product.Meslek_URL %>" style="color: #038;"><%- Product.isim + " " + Product.soyisim %></a> </div>
          
        </div>
      </div>
      <div class="col-md-2">
        <div style="  text-align: center; padding: 10px;">
          
          
        </div>
      </div>
     
      <div class="col-md-2">
        <div style="  text-align: center; padding: 10px;">
          <div style="color: #F0F1F6; font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 0px;">
            <div class="dropdown">
              <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/isteklistesiekleMeslekRemove/<%- Product.Meslek_URL %>" style="color: red;">Favorilerimden Çıkar</a>
              </div>
            </div>
          
          </div>

          
        </div>

      </div>

    </div>  
   <% }) %>
  
   
  
    
  
  </div>
  <div style=" margin-top: 20px; ">
    
  </div>       




                  </ul>

                </div>
            </div>
            </div>
            <div style="padding-bottom: 50px;">

            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->

      

        <!-- ========== SECONDARY CONTENTS ========== -->
        <!-- Account Sidebar Navigation -->
        <!-- End Account Sidebar Navigation -->
        <!-- ========== END SECONDARY CONTENTS ========== -->
        <!-- Sidebar Navigation -->
        
        <!-- End Sidebar Navigation -->
        
        <!-- ========== END FOOTER ========== -->
    
        <!-- Go to Top -->
        
        <!-- End Go to Top -->

    </body>
</html>
<script>
const favoriDukkanDiv = document.getElementById("favori-dukkandiv");
const favoriMeslekDiv = document.getElementById("favori-meslekdiv");
const favoriUrunDiv = document.getElementById("favori-urundiv");
const favoriListesiDiv = document.getElementById("favori-listesi");
const favoriListesi2Div = document.getElementById("favori-listesi-2");
const favoriListesi3Div = document.getElementById("favori-listesi-3");

favoriDukkanDiv.addEventListener("click", () => {
  favoriListesiDiv.style.display = "none";
  favoriListesi3Div.style.display = "none";
  favoriListesi2Div.style.display = "block";
  favoriDukkanDiv.style.backgroundColor = "#fed40076";
  favoriUrunDiv.style.backgroundColor = "#fff";
  favoriMeslekDiv.style.backgroundColor = "#fff";
});
favoriMeslekDiv.addEventListener("click", () => {
  favoriListesiDiv.style.display = "none";
  favoriListesi2Div.style.display = "none";
  favoriListesi3Div.style.display = "block";
  favoriMeslekDiv.style.backgroundColor = "#fed40076";
  favoriDukkanDiv.style.backgroundColor = "#fff";
  favoriUrunDiv.style.backgroundColor = "#fff";
});
favoriUrunDiv.addEventListener("click", () => {
  favoriListesi2Div.style.display = "none";
  favoriListesi3Div.style.display = "none";
  favoriListesiDiv.style.display = "block";
  favoriUrunDiv.style.backgroundColor = "#fed40076";
  favoriMeslekDiv.style.backgroundColor = "#fff";
  favoriDukkanDiv.style.backgroundColor = "#fff";
});


</script>

<script>
  $(document).ready(function() {
    // Sayfa numarasını al
    var sayfaNumarasi = getUrlParameter('pg') || 1;
  
    // Sayfa numarasını güncelleyen bir fonksiyon
    function sayfaDegistir(yeniSayfaNumarasi) {
      // Geçerli URL'yi al
      var url = window.location.href;
  
      // URL'deki mevcut parametreleri ayrıştır
      var urlParams = new URLSearchParams(window.location.search);
  
      // pg parametresini güncelle veya ekle
      urlParams.set('pg', yeniSayfaNumarasi);
  
      // Yeni parametreleri URL'ye ekle
      var yeniURL = window.location.origin + window.location.pathname + '?' + urlParams.toString();
  
      // Sayfayı yeniden yönlendir
      window.location.href = yeniURL;
    }
  
    // İleri düğmesine tıklama olayı
    $('#ileriDugmesi').on('click', function() {
      sayfaNumarasi++;
      sayfaDegistir(sayfaNumarasi);
    });
  
    // Geri düğmesine tıklama olayı
    $('#geriDugmesi').on('click', function() {
      if (sayfaNumarasi > 1) {
        sayfaNumarasi--;
        sayfaDegistir(sayfaNumarasi);
      }
    });
    
    // Sayfa numarasını göster
    $('#sayfaNumarasi').text('Sayfa ' + sayfaNumarasi);
    
    // URL'den parametre değerini almak için yardımcı bir fonksiyon
    function getUrlParameter(name) {
      name = name.replace(/[[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(window.location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }
  });
  
  
  </script>