<li class="col-6 col-md-3 col-wd-2gdot4 product-item">
    <div class="product-item__outer h-100">
        <div class="product-item__inner px-xl-4 p-3">
            <div class="product-item__body pb-xl-2">
                <div class="mb-2"><a href="/kategori/<%- Product.product_category %>" class="font-size-12 text-gray-5"><%- Product.product_category %></a></div>
                <h5 class="mb-1 product-item__title"><a href="/urunler/<%- Product.product_url %>" class="text-blue font-weight-bold"><%- Product.product_name %></a></h5>
                <div class="mb-2">
                    <a href="/urunler/<%- Product.product_url %>" class="d-block text-center"><img class="img-fluid" src="/uploads/images/<%-(Product.product_category3).trim()%>/<%- Product.product_photo[0] %>" alt="<%- Product.product_name %>"></a>
                </div>
                <div class="flex-center-between mb-1">
                    <div class="prodcut-price">
                        <div class="text-gray-100"></div>
                    </div>
                </div>
                
                
                
                <div class="flex-center-between mb-1" style="margin-top: 10%;">
                    <% if (Product.Product_MinimumPrice) { %>
                        <div >
                            <div class="text-gray-23" style="font-size: small; margin-left: 10px; text-align: center; justify-content: center;">
                                En düşük <div class="text-green" style="font-weight: bold;"> <%- Product.Product_MinimumPrice.value %>₺</div>
                           
                            </div>
                            
                        </div>
                    <% } %>
                    
                    
                
                    <div >

                    <% if (Product.Product_MaximumPrice) { %>
                        <div class="text-gray-23" style="font-size: small; margin-right: 10px; text-align: center; justify-content: center;">
                            En yüksek <div class="text-green" style="font-weight: bold;"> <%- Product.Product_MaximumPrice.value %>₺</div>
                        </div>
                    <% } %>
                    
                    
                </div>
                
            </div>
            </div>
            <div class="product-item__footer">
                <div class="border-top pt-2 flex-center-between flex-wrap">
                    <% if (myacc) { %>
                        <% if (myacc) { %>
                         
                        
                        <% if (myacc[0].wishlist.some(item => item.product_url === Product.product_url)) { %>
                            <a href="/isteklistesiremove/<%- Product.product_url %>" class="text-gray-6 font-size-13 add-to-favorites"><i class="fa fa-times-circle text-red mr-1 font-size-15"></i> Favorilerden Kaldır</a>
                        <% }else{ %>
                        <a href="/isteklistesiekle/<%- Product.product_url %>" class="text-gray-6 font-size-13 add-to-favorites"><i class="fa fa-heart mr-1 font-size-15"></i> Favorilere Ekle</a>
                        <% } %>
    
                        <% }else{ %>
                            <a href="/isteklistesiekle/<%- Product.product_url %>" class="text-gray-6 font-size-13 add-to-favorites"><i class="fa fa-heart mr-1 font-size-15"></i> Favorilere Ekle</a>
                            <% } %>
                            <% }
                            else{ %>
                            
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</li>
<script>
</script>