<style>

@media (max-width: 767px) {
    .col-md-4 {
      margin-bottom: 20px;
    }
  }
  
  .icon-wrapper {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #iconArama {
    width: 100px;
    height: 100px;
    background-color: #b91802;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  #iconArama .iconaramaici {
    font-size: 30px;
  }
  #iconArama2 {
    width: 100px;
    height: 100px;
    background-color: #95BA47;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  #iconArama2 .iconaramaici {
    font-size: 30px;
  }
  #iconArama3 {
    width: 100px;
    height: 100px;
    background-color: #21B8BC;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  #iconArama3 .iconaramaici {
    font-size: 30px;
  }
  
  .category-info {
    margin-top: 30px;
    text-align: center;
  }
  .category-info:hover{
    text-decoration: underline;
  }
  
  .category-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .category-count {
    color: gray;
  }
  
</style>

<div class="container mt-16 mb-16">
    <div class="row">
       <% if (UrunCount > 0) { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <a href="/arama?arananDeger=<%-SearchedValue%>&q=urunara">
                <div class="icon-wrapper">
                  <div id="iconArama">
                    <i class="iconaramaici fa fa-shopping-cart" aria-hidden="true"></i>
                  </div>
                </div>
                
                <div class="category-info">
                  <p class="category-name">Ürünler</p>
                  <p class="category-count"> <span style="font-weight: bold; font-size: 20px;"><%- UrunCount %></span>  ürün bulundu. </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <% } %>
    
        <% if (DukkanCount > 0) { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <a href="/arama?arananDeger=<%-SearchedValue%>&q=dukkanara">
                <div class="icon-wrapper">
                  <div id="iconArama2">
                    <i class="iconaramaici fa fa-store" aria-hidden="true"></i>
                  </div>
                </div>
                
                <div class="category-info">
                  <p class="category-name">Dükkanlar</p>
                  <p class="category-count"> <span style="font-weight: bold; font-size: 20px;"><%- DukkanCount %></span> dükkan bulundu. </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <% } %>
    
        <% if (MeslekCount > 0) { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <a href="/arama?arananDeger=<%-SearchedValue%>&q=meslekara">
                <div class="icon-wrapper">
                  <div id="iconArama3">
                    <i class="iconaramaici fa fa-briefcase" aria-hidden="true"></i>
                  </div>
                </div>
                
                <div class="category-info">
                  <p class="category-name">Meslekler</p>
                  <p class="category-count"> <span style="font-weight: bold; font-size: 20px;"><%- MeslekCount %></span> meslek bulundu. </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <% } %>
        <% if (UrunCount === 0 && DukkanCount === 0 && MeslekCount === 0) { %>
          <div class="col-md-12">
            <div style=" text-align: center; color: gray; margin-top: 30px; margin-bottom: 30px;">
              
              <i class="fas fa-frown" aria-hidden="true" style="font-size: 80px;"></i>
              <h3 style="margin-top: 25px;">Aradığınız kelimede herhangi bir şey bulunamadı. </h3>
            </div>
          </div>
          <% } %>
    </div>
  </div>
  